/** Fix for overlay misalign cursor when dragged **/
html.js {
  overflow-y: visible !important;
}

.region-title {
  background: transparent url(images/draggable.png) no-repeat 2px 0px;
  padding-left: 19px;
  margin: 0;
}

h3.region-title {
  font-size: 13px;
  margin-bottom: 10px;
  background: none;
  padding-left: 0;
  cursor: pointer;
}

h4.region-title {
  margin-bottom: 10px;
  font-size: 12px;
}

h5.region-title {
  font-size: 11px;
  margin-bottom: 10px;
}

.drag-area-source {
  border: 1px solid #ddd;
  background: #eee;
  margin-bottom: 10px !important;
  padding: 6px 0.8%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  width: 98%;
  float: left;
  cursor: move;
}

.drag-block-source {
  background: #ccc;
  border: 1px solid #bbb;
  padding: 6px 0.8%;
  margin-bottom: 10px !important;
  width: 98%;
  font-size: 10px;
  float: left;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: move;
}

.drag-region-source {
  background: #ddd;
  border: 1px solid #ccc;
  padding: 6px 0.8%;
  margin-bottom: 10px !important;
  width: 98%;
  font-size: 10px;
  float: left;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: move;
}

.drag-block-source h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

.vertical-tabs .drag-block-source .form-type-textfield input {
  width: 60%;
}

.ui-state-highlight {
  border: 3px dotted #61B68C;
  background: #D4FFD4;
  width: 99%;
  height: 30px;
  margin: 10px 0;
  float: left;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
}

#regionarea-workarea .ui-sortable-helper {
  height: 30px !important;
}

/** Dynamic resizing to emulate 1140 css column sizing **/
.enabled-area .col-1,
.enabled-area .col-2,
.enabled-area .col-3,
.enabled-area .col-4,
.enabled-area .col-5,
.enabled-area .col-6,
.enabled-area .col-7,
.enabled-area .col-8,
.enabled-area .col-9,
.enabled-area .col-10,
.enabled-area .col-11,
.enabled-area .col-12 {
  float: left;
  margin-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.enabled-area .col-1 {
  width: 7.33%;
} 

.enabled-area .col-2 {
  width: 15.66%;
}

.enabled-area .col-3 {
  width: 24%;
}

.enabled-area .col-4 {
  width: 32.33%;
}

.enabled-area .col-5 {
  width: 40.65%;
}

.enabled-area .col-6 {
  width: 49%;
}

.enabled-area .col-7 {
  width: 57.31%;
}

.enabled-area .col-8 {
  width: 65.64%;
}

.enabled-area .col-9 {
  width: 73%;
}

.enabled-area .col-10 {
  width: 82.3%;
}

.enabled-area .col-11 {
  width: 90.63%;
}

.enabled-area .col-12 {
  width: 100%;
  margin: 0;
  float: left;
}

/** Disabled areas **/
.layout-parent.status-close {
  height: 25px;
  overflow: hidden;
}

.layout-parent.status-close > h3.region-title {
  margin-bottom: 20px;
}

/** Enabled area **/
.enabled-area {
  margin: 0;
  padding: 0 0 30px;
  float: right;
  width: 78%;
  padding: 0.8%;
  border: 1px solid #eee;
  border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  background: #fff;
}

/** Disabled area **/
.disabled-block,
.disabled-region,
.disabled-area {
  width: 16%;
  padding: 10px;
  margin-right: 1%;
  min-height: 25px;
  float: left;
  clear: left;
  margin-bottom: 20px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  background: #fff;
  border: 1px solid #eee;
}

.disabled-region .region-button,
.disabled-block .region-button,
.disabled-area .region-button {
  position: absolute !important;
  top: 0;
  right: 0;
}

.disabled-region .region-title,
.disabled-block .region-title,
.disabled-area .region-title {
  padding-right: 20px;
}

.disabled-block .empty-special,
.disabled-area .region-configuration,
.disabled-region .empty-special,
.disabled-region .region-configuration,
.disabled-area .empty-special,
.disabled-area .region-configuration {
  display: none;
}

.disabled-area .empty {
  display: none;
}

.disabled-block p,
.disabled-block h5.region-title,
.disabled-block h4.region-title,
.disabled-region p,
.disabled-region h5.region-title,
.disabled-region h4.region-title,
.disabled-area p,
.disabled-area h5.region-title,
.disabled-area h4.region-title {
  font-size: 11px;
}

.disabled-block .drag-block-source,
.disabled-region .drag-region-source,
.disabled-region .drag-block-source,
.disabled-area .dragspecialblocksource,
.disabled-area .drag-area-source,
.disabled-area .drag-block-source {
  width: 90%;
  padding: 6px 4%;
  font-size: 10px;
}
.disabled-area .ui-state-highlight,
.disabled-region .ui-state-highlight,
.disabled-block .ui-state-highlight {
  width: 99% !important;
}

/** Tabs **/
.region-button {
  float: right;
  height: 16px;
  width: 16px;
  z-index: 51;
  cursor: pointer;
  margin-left: 10px;
}

.region-configuration {
  border: 1px solid #aaa;
  background: #FFFFFF;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 10px;
}

html.js .region-configuration {
  display: none;
}

html.js .region-configuration .form-item {
  margin: 0;
  padding: 0;
}
html.js .disabled-area .empty-message {
  display: none;
}
html.js .region-title {
  position: relative;
}


/** Drag mode **/
.ui-sortable-helper {
  overflow: hidden !important;
  width: 300px !important;
  height: 20px !important;
}

#target--disabled--area .region-open-config,
#target--disabled--region .region-open-config,
#target--disabled--block .region-open-config {
  display: none;
}

#target--enabled--area .region-open-config {
  display: block;
}

#edit-layout-new {
  width: auto;
}