/* ---------- Preview Styles ----------- */

html.js #preview {
  clear: both;
  float: none !important;
}
#preview {
  background-color: #fff;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 10px;
}

#overlay #preview .areawrapper {
  padding: 20px 2%;
}

#overlay #preview #navigation .areawrapper {
  padding: 0 2%;
}

#preview ul.tabs {
  margin: 3px 0 !important;
  padding: 3px 0 !important;
}  