body table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 0 20px;
	border: 1px solid #eee;
}

#main-content .field-name-field-main-image img,
.region-content table img {
	border: none;
	float: none;
	margin: 0 10px;
	max-width: auto;
	padding: 0;
	background: none;
}

caption {
  line-height: 140%;
	text-align: left;
	padding-bottom: 10px !important;
	margin-bottom: 2px;
}

thead th {
	min-height: 25px;
	padding: 5px 10px;
	font-size: 12px;
}
thead th a:link,
thead th a.active,
thead th a {
  color: #585858;
}

tfoot {
	color: #1ba6b2;
	padding: 2px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 6px;
}

tbody tr {
	font-size: 12px;
}

tbody td {
	padding: 7px 10px;
	text-align: left;
	border: none;
}

tbody th {
	text-align: left;
	padding: 2px;
}

/** Drupal Specific **/
tr.even, tr.odd {
  border-bottom: none; /** Drupal Reset **/
  background-color: transparent; /** Drupal Reset **/
}
tr.info {
	background: #ffff7f;
	border-bottom: 1px solid #E6E6E6;
}

tr.drag {
	background-color: #F9F8C1;
}

tr.drag-previous td {
	background: #F9E0C1;
}

tr.odd td.active {
  background-color: #E3F9FF;
}

tbody {
	border-top: none;
}

tr.even td.active {
  background-color: #D1F6FF;
}

table.sticky-header {
  z-index: 2;
}

/** jQuery UI specific **/
.ui-table th.ui-state-default,
.ui-table td.ui-widget-content {
  border-left: none;
  border-right: none;
}

.ui-table .ui-state-hover {
  font-weight: normal !important;
}

.ui-table-header th {
  border-bottom: none; /** reset Drupal **/
}

/** Media Table **/
.mediaTableMenu.ui-widget-content a {
  background: transparent;
}