/** Login Bar **/
.usericon, .passicon {
  float: left;
  margin-left: 14px;
  position: relative;
}

#loginbar {
  width: auto;
  float: right;
}

#loginbar .form-actions {
  position: absolute;
  z-index: -9999;
}

#loginbar p {
  font-size: 0.833em;
  font-weight: bold;
}

#loginbar .form-item {
  padding: 0;
  margin: 0;
  float: left;
}

#loginbar .form-item input {
  padding: 5px 25px 5px 5px;
  font-style: italic;
  color: #666;
  font-size: 12px;
}

#loginbar span {
  position: absolute;
  right: 4px;
  top: 3px;
}
