/** Tabs elements **/
div#tabs-content {
  background: #cccccc;
  background: -moz-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #cccccc) );
  background: -webkit-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background: linear-gradient(top, #dddddd 0%, #cccccc 100%);
  filter: progid:dXImageTransform.Microsoft.gradient (   startcolorstr = '#dddddd', endcolorstr = '#cccccc', GradientType = 0 );
  border: 1px solid #cccccc;
}

span#tabs-toggle {
  background: #cccccc;
  background: -moz-linear-gradient(top, #cccccc 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #dddddd) );
  background: -webkit-linear-gradient(top, #cccccc 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #cccccc 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #cccccc 0%, #dddddd 100%);
  background: linear-gradient(top, #cccccc 0%, #dddddd 100%); 
  filter: progid:dXImageTransform.Microsoft.gradient (   startcolorstr = '#cccccc', endcolorstr = '#dddddd', GradientType = 0 );
  border: 1px solid #cccccc;
  border-bottom: 1px solid #dddddd;
}

div#tabs-content a {
  color: #fffffd !important;
}

div#tabs-content li.active a {
  color: #666666 !important;
}

div#tabs-content a.hover {
  color: #999999 !important;
}


span#tabs-toggle {
	position: absolute;
	right: 10px;
	bottom: 0;
	width: 24px;
	height: 22px;
	cursor: pointer;
	margin-bottom: -1px;
}

span#tabs-toggle span {
  float: left;
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin: 2px 0 0 4px;
}

div#tabs-content {
  float: left;
  padding: 5px 1%;
}

.tab-spacer {
  height: 20px;
  clear: both;
}

.nbb {
	border-bottom: none !important;
}

ul.secondary, ul.primary {
	height: auto;
	line-height: normal;
	list-style: none outside none;
	list-style-image: none;
	padding: 3px 0;
	margin: 3px 0;
	float: left;
	width: 100%;
	border-bottom: none;
}

.primary-tabs.secondary-tabs ul.secondary {
	border-top: 1px solid #e1e1e1;
}

ul.secondary li, ul.primary li {
	background: none;
	list-style-image: none;
	list-style-type: none;
	margin: 0 5px 0 0;
	padding: 0;
	border-right: none;
	float: left;
}

ul.secondary li.active a,ul.primary li.active a {
	background-color: transparent;
	border: none;
	font-weight: bold;
}

ul.secondary li a,ul.primary li a {
	border: none;
	background-color: transparent;
	margin: 0 3px;
	padding: 0 2px;
}

ul.secondary li a:hover,ul.primary li a:hover {
	background-color: transparent;
}