input.form-submit,
.button,
.button:link,
.button:visited {
  background-color: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc) );
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  filter: progid:dXImageTransform.Microsoft.gradient (startcolorstr = '#eeeeee', endcolorstr = '#cccccc', GradientType = 0); 
  border-color: #cccccc #cccccc #bbbbbb;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  font: bold 11px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif !important;
  padding: 2px 6px;
  text-align: center;
  text-shadow: 0 1px 0 #eeeeee;
  margin-right: 15px;
}

input.form-submit:hover,
.button:hover {
  background-color: #dddddd;
  background-image: -moz-linear-gradient(center top , #dddddd, #bbbbbb);
  background: -moz-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb) );
  background: -webkit-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -o-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -ms-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  filter: progid:dXImageTransform.Microsoft.gradient (startcolorstr = '#dddddd', endcolorstr = '#bbbbbb', GradientType = 0); 
  border-color: #bbbbbb #bbbbbb #999999;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  text-shadow: 0 1px 0 #dddddd;
}

input.form-submit:active,
.button:active { 
  border-color: #aaaaaa #aaaaaa #888888;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 5px 2px #aaaaaa inset, 0 1px 0 0 #eeeeee;  
  -moz-box-shadow: 0 0 5px 2px #aaaaaa inset, 0 1px 0 0 #eeeeee;  
  -o-box-shadow: 0 0 5px 2px #aaaaaa inset, 0 1px 0 0 #eeeeee;  
  -webkit-box-shadow: 0 0 5px 2px #aaaaaa inset, 0 1px 0 0 #eeeeee;  
}

.button-orange a,
.button-orange a:link,
.button-orange a:visited {
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  font: 14px/100% Arial, Helvetica, sans-serif;
  color: #fef4e9;
}

.button-orange a:active {
  color: #fcd3a5;
}  

.button-orange,
.button-orange:link,
.button-orange:visited {
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  -o-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -webkit-linear-gradient(top, #faa51a 0%, #f47a20 100%);
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  background: -o-linear-gradient(top, #faa51a 0%, #f47a20 100%);
  background: -ms-linear-gradient(top, #faa51a 0%, #f47a20 100%);
  background: linear-gradient(top, #faa51a 0%, #f47a20 100%);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');  
}

.button-orange:hover {
  text-decoration: none;
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  background: -o-linear-gradient(top, #f88e11 0%, #f06015 100%);
  background: -ms-linear-gradient(top, #f88e11 0%, #f06015 100%);
  background: linear-gradient(top, #f88e11 0%, #f06015 100%);
  background: -webkit-linear-gradient(top, #f88e11 0%, #f06015 100%);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.button-orange:active {
  position: relative;
  top: 1px;
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
  background: -o-linear-gradient(top, #f47a20 0%, #faa51a 100%);
  background: -ms-linear-gradient(top, #f47a20 0%, #faa51a 100%);
  background: linear-gradient(top, #f47a20 0%, #faa51a 100%);
  background: -webkit-linear-gradient(top, #f47a20 0%, #faa51a 100%);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
} 