/**
  * CSS Styling for all fieldset elements, if you want to revert to original drupal fieldset styling, 
	* comment out all the styling found in this file
	**/
fieldset {
	border: none;
  margin: 10px 0;
  padding: 0;
	clear: both;
	min-height: 33px; /** fix for IE8 **/
}

fieldset .fieldset-wrapper {
	border: 1px solid #C7D2DB;
	margin: 0 0 20px;
	padding: 20px 15px;
	background: #fff;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

fieldset legend {
  height: 33px;
  line-height: 32px;
  padding: 0;
  text-indent: 10px;
  width: 100%;
  margin-bottom: 1px;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7d7d7), color-stop(100%, #E9E9E9) );
  background: -webkit-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -o-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -ms-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  filter: progid:dXImageTransform.Microsoft.gradient (startcolorstr = '#d7d7d7', endcolorstr = '#E9E9E9', GradientType = 0);  
  border: 1px solid #CCCCCC !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #333333;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html.js fieldset.collapsed {
  margin-bottom: 8px;
}
fieldset legend a:hover,
fieldset legend a:link,
fieldset legend a:active,
fieldset legend a {
  color: #333 !important;
  font-size: 12px;
  width: 100%;
  display: block;
  outline: 0;
}
fieldset.filter-wrapper {
  padding: 0;
  background: transparent;
}

fieldset.filter-wrapper .fieldset-wrapper {
  background: transparent;
}

fieldset.container-inline {
  width: 100%;
  margin: 10px 0;
}
div.vertical-tabs .vertical-tabs-panes fieldset .fieldset-wrapper span.summary,
.fieldset-legend span.summary {
  position: absolute;
  right: 10px;
  top: 2px;
}