/**
  * CSS Styling for all form elements except button (please see the generic.css for 
  * button image styling)
  * If you want to revert to original drupal form styling, comment out all the styling
  * found in this file
  **/

/*********/
/* FORMS */
/*********/
body form {
  margin-bottom: 10px;
}

.form-item {
  margin-bottom: 4px;
  margin-top: 0px;
}
input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 5px 6px;
  border: 1px solid #ccc;
  border-top-color: #ccc;
  border-bottom-color: #bbb;
  background: #fff;
  color: #333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 1em;
}
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
  border-color: #ace;
}

input.form-checkbox, input.form-radio {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.form-item {
  padding: 3px 0;
  margin: 0 0 10px;
}
.form-wrapper {
  margin-bottom: 10px;
}
.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}
.form-type-checkbox {
  padding: 0;
}
.text-format-wrapper .form-item {
  padding-bottom: 0;
}
.form-item label {
  font-size: 1em;
  margin: 0 0 2px 0;
  padding: 0;
  color: #333;
}
.form-item label.option {
  text-transform: none;
}
.form-item label.option {
  font-size: 0.923em;
}
.form-item label.option input {
  vertical-align: middle;
}
.resizable-textarea .grippie {
  background-color: #eee;
  border-color: #ccc;
  border-right: 1px solid #ccc;
}
.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

#edit-operation-wrapper,#edit-aid-wrapper {
  margin: 0 10px;
}

.container-inline input.form-submit {
  margin: 0 5px 10px;
}

.container-inline {
  width: 99%;
  padding: 0;
  margin: 10px 0 0;
}

.container-inline a {
  padding: 3px 4px;
}

#user-login-form {
  text-align: left;
}

form.confirmation ul,form.confirmation ul li {
  /**margin: 0;**/
  padding: 0;
}

form.confirmation ul li {
  margin-bottom: 15px;
}

form#system-modules-uninstall {
  background: none;
}

.form-checkboxes,.form-radios,
.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0.25em 0;
}

.form-button, .form-submit {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  margin: 0;
  cursor: pointer;
}

/** Autocomplete **/
html.js input.form-autocomplete {
  background-position: 100% 7px;
}

html.js input.throbbing {
  background-position: 100% -16px;
}

#autocomplete {
  border: 1px solid #ccc;
  background: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

#autocomplete li {
  background: #fff;
  color: #333;
  margin: 1px 0;
  padding: 2px 5px;
  cursor: pointer;
}

/** Filefield upload widget **/
.widget-edit .description {
  background-position: 0 50%;
  margin-left: 0 !important;
  padding-left: 7% !important;
  width: 91% !important;
}

.widget-edit .filefield-upload input.form-file {
  margin: 6px 0 0 0;
  vertical-align: top;
}

/** input format **/
fieldset.input-format .description {
  background: none repeat scroll 0 0 transparent !important;
  margin-left: 0 !important;
  padding-left: 1% !important;
  width: 99% !important;
}

fieldset.input-format .description ul.tips li {
  background: url("images/menu-leaf.gif") no-repeat scroll 1px 0.18em
    transparent;
}

input#edit-site-frontpage {
  width: 200px;
}

table#content-field-overview tr.content-add-new .form-item div.description
  {
  padding-left: 19%;
  width: 100%;
  margin-left: 0;
}

form#content-display-overview-form {
  padding: 10px 0;
}

form#content-display-overview-form table#content-display-overview {
  margin-top: 10px;
}

/** SEARCH PAGE SEARCH FORM **/
body.page-search form#search-form .container-inline #edit-keys-wrapper {
  float: left;
  margin: 5px 10px 0 0;
  min-width: 537px;
}

body.page-search form#search-form .container-inline #edit-keys-wrapper input
  {
  width: 100%;
}

.clear-block {
  margin-bottom: 13px;
  clear: both;
}

/** Fix for attachment **/
#upload-attachments .description {
  margin-left: 0;
}

/** Filter form **/
.filter-help {
  padding: 0;
  float: none;
}

.filter-help a {
  padding: 2px 20px 0 0;
  float: right;
  font-size: 0.833em;
}

.filter-wrapper .form-item {
  float: left;
  margin: 0 2% 0 0;
  padding: 0;
  width: 48%;
}

.filter-wrapper .form-item label {
  min-width: 90px;
}

.filter-guidelines {
  font-size: 0.833em;
  line-height: 100%;
  padding: 5px 0 0 !important;
}

.filter-guidelines ul.tips li {
  list-style: none;
}

.filter-wrapper {
  border: medium none;
}

.filter-wrapper .fieldset-wrapper {
  padding: 0;
  border: none;
}

ul.tips {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

/** Report area **/
.form-item-type, .form-item-severity {
  margin: 0.1em !important;
}

.fieldset-description {
  padding: 0 0 10px 0;
}

/** Content type display area **/
#field-display-overview-wrapper {
  margin-bottom: 10px;
}