@CHARSET "UTF-8";

div.horizontal-tabs {
  margin: 15px 0 1em 0; /* LTR */
  padding: 0;
  position: relative; /* IE6/7 */
}

.horizontal-tabs ul.horizontal-tabs-list {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0 1%;
  position: relative; /* IE6 */
  list-style: none;
  list-style-image: none; /* IE6 */
  width: 98%;
  height: auto;
  clear: both;
}

.horizontal-tabs .horizontal-tabs-panes {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.horizontal-tabs-pane>legend {
  display: none;
}

/* Layout of each tab */
.horizontal-tabs ul.horizontal-tabs-list li {
  border: 1px solid #EBEBEB;
  border-bottom: 1px solid #ddd;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  padding: 1px;
  padding-top: 0; 
  margin: 0 2px -6px 0;
  min-width: 5em; /* IE7 */
  float: left;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7d7d7), color-stop(100%, #E9E9E9) );
  background: -webkit-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -o-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -ms-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  filter: progid:dXImageTransform.Microsoft.gradient (startcolorstr = '#d7d7d7', endcolorstr = '#E9E9E9', GradientType = 0);  
}
.horizontal-tabs ul.horizontal-tabs-list li.selected {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  padding: 0 0 1px 0;
}
.horizontal-tabs ul.horizontal-tabs-list li a {
  display: block;
  text-decoration: none;
  padding: 0.5em 0.6em;
}

.horizontal-tabs ul.horizontal-tabs-list li a:focus strong,
.horizontal-tabs ul.horizontal-tabs-list li a:active strong,
.horizontal-tabs ul.horizontal-tabs-list li a:hover strong {
  text-decoration: none;
  outline: none;
}
.horizontal-tabs ul.horizontal-tabs-list li a,
.horizontal-tabs ul.horizontal-tabs-list li.selected a {
  display: block;
  text-decoration: none;
  padding: 0.6em 0.7em 0.4em 0.7em;
  position:relative;
  top: 0px;  
  font-weight: normal;
  font-size: 0.917em;
}
.horizontal-tabs ul.horizontal-tabs-list .selected strong {
  color: #000;
}
.horizontal-tabs ul.horizontal-tabs-list .summary {
  display: block;
}
.horizontal-tabs ul.horizontal-tabs ul.horizontal-tabs-list .summary {
  line-height: normal;
  margin-bottom: 0;
}
.horizontal-tabs fieldset {
	margin: 0;
	border: none;
}
.horizontal-tabs .fieldset-wrapper {
  border: none;
}

.horizontal-tabs table {
  margin: 10px 0;

}

.horizontal-tabs .field-item {
	padding: 8px 0;
	border-top: 1px solid #e6e6e6;
	margin-top: 5px;
}

.horizontal-tabs .field-item:first-child {
	border-top: none;
}

/**
 * tab content 
 */
div.field-group-htabs-wrapper .field-group-format-wrapper { 
  clear: both;
  padding: 0 0 0.6em;
}