/*******************/
/* DRUPAL MESSAGES */
/*******************/
.preview {
  background-color: transparent;
  padding-top: 15px;
}

.description {
  line-height: 150%;
  margin-bottom: 0.75em;
}

div.error,div.status,div.warning,div.messages,div.info {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1em;
  clear: both;
}

.status {
  border: none;
}

span.warning {
  border: none;
  background: transparent;
}

div.messages ul {
  list-style: none outside none;
  margin: 0;
}

div.messages ul li {
  background: none;
  margin-bottom: 8px;
}

div.messages em {
  color: #999999;
}

div.messages {
  background: #F1F8EB url('images/icons/message/message.png') no-repeat
    10px 10px;
  border-color: auto;
  border: 2px solid;
  color: #55872E;
  padding: 7px 7px 7px 48px;
  min-height: 34px;
  margin: 0 0 24px;
}

div.messages.warning {
  background: url("images/icons/message/warning.png") no-repeat scroll 10px
    10px #FFFFD4;
}

div.messages.error {
  background: #FFCBBA url('images/icons/message/error.png') no-repeat 10px
    10px;
}

div.error {
  color: #8A1F11;
}

div.warning {
  color: #C7721D;
  clear: left;
  float: none;
  margin: 10px 0;
}

div.info {
	color: #00529B;
  background: #BDE5F8 url('images/icons/message/info.png') no-repeat 10px
    10px;
}