/**********/
/* PAGERS */
/**********/
.item-list .pager {
  display: inline;
  float: left;
  margin: 15px 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.item-list .pager li {
  padding: 3px 6px;
  background: #eee;
  border: 1px solid #ddd;
  margin: 4px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}

.item-list .pager li.pager-current {
  border: 1px solid #aaa;
  color: #222;
}