table {
	border-collapse: collapse;
	width: 100%;
	margin: 20px 0;
	color: #39434c;
  background: #f5f5f5;
  border: 1px solid #ccc;
}

#main-content .field-name-field-main-image img,
.region-content table img {
	border: none;
	float: none;
	margin: 0 10px;
	max-width: auto;
	padding: 0;
	background: none;
}

caption {
  line-height: 140%;
	text-align: left;
	padding: 10px;
	margin-bottom: 2px;
}

thead th {
	min-height: 25px;
  color: #333333;
  font-weight: bold;
	padding: 5px 10px;
	border: none;
	font-size: 12px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7d7d7), color-stop(100%, #E9E9E9) );
  background: -webkit-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -o-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -ms-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  filter: progid:dXImageTransform.Microsoft.gradient (startcolorstr = '#d7d7d7', endcolorstr = '#E9E9E9', GradientType = 0);  
}
thead th a:link,
thead th a.active,
thead th a {
  color: #585858;
}

tfoot {
	color: #1ba6b2;
	padding: 2px;
	text-transform: uppercase;
	font-weigth: bold;
	margin-top: 6px;
}

tbody tr {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}

tbody td {
	color: #414141;
	padding: 7px 10px;
	text-align: left;
}

tbody th {
	text-align: left;
	padding: 2px;
}

/** Drupal Specific **/
tr.info {
	background: #ffff7f;
	border-bottom: 1px solid #E6E6E6;
}
tr.odd {
  border-bottom: 1px solid #E6E6E6;
  background: #fefefe;
}

tr.even {
  background: #F7F7F7;
  border-bottom: 1px solid #E6E6E6;
}

tr.drag {
	background-color: #F9F8C1;
}

tr.drag-previous {
	background-color: #F9E0C1;
}

tr.odd td.active {
  background-color: #E3F9FF;
}

tbody {
	border-top: none;
}

tr.even td.active {
  background-color: #D1F6FF;
}

/** DRUPAL BLOCK AREA **/
tr.region-populated {
  display: none;
}

tr.region-empty {
  font-size: 10px;
}

tr.region-title {
  font-weight: bold;
}