/**
 * Fix fieldset in vertical tabs
 **/
div.vertical-tabs {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin: 1px 0;
  clear: both;
}

div.vertical-tabs fieldset {
  clear: none;
  margin-bottom: 8px;
  border: 0;
  padding: 0;
}

.vertical-tabs fieldset.vertical-tabs-pane {
  clear: none;
  margin: 0;
  padding-bottom: 10px;
}

.vertical-tabs fieldset.vertical-tabs-pane .fieldset-wrapper {
  border: none;
}

.vertical-tabs fieldset .fieldset-wrapper .fieldset-wrapper {
  border: 1px solid #C7D2DB;
  margin: 0 0 20px;
  padding: 20px 15px;
} 

.vertical-tabs fieldset:first-child {
  clear: none;
}

.vertical-tabs fieldset > .fieldset-wrapper {
  border: none;
}

div.vertical-tabs ul.vertical-tabs-list {
  border: none;
  margin: 0;
}

div.vertical-tabs ul.vertical-tabs-list li {
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7d7d7), color-stop(100%, #E9E9E9) );
  background: -webkit-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -o-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: -ms-linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  background: linear-gradient(top, #d7d7d7 0%, #E9E9E9 100%);
  filter: progid:dXImageTransform.Microsoft.gradient (startcolorstr = '#d7d7d7', endcolorstr = '#E9E9E9', GradientType = 0);
  border-right: 1px solid #ccc;
  border-left: none;
  border-bottom: 1px solid #ccc;
}

div.vertical-tabs ul li.selected {
  background: #fff !important;
  border-right: none;
  border-left: none;
}
div.vertical-tabs ul li.first {
  border-top: none;
}
div.vertical-tabs ul li.first.selected {
  border-top: none;
}

div.vertical-tabs ul.vertical-tabs-list li a {
  font-size: 13px;
  color: #333 !important;
  outline: 0;
  padding: 8px 10px;
  text-decoration: none !important;
}

div.vertical-tabs ul.vertical-tabs-list .selected strong {
  color: #000000;
}

div.vertical-tabs ul.vertical-tabs-list li.vertical-tab-button a:hover {
  background: #d7d7d7;
  background: -moz-linear-gradient(top, #e9e9e9 0%, #d7d7d7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9e9), color-stop(100%, #d7d7d7) );
  background: -webkit-linear-gradient(top, #e9e9e9 0%, #d7d7d7 100%);
  background: -o-linear-gradient(top, #e9e9e9 0%, #d7d7d7 100%);
  background: -ms-linear-gradient(top, #e9e9e9 0%, #d7d7d7 100%);
  background: linear-gradient(top, #e9e9e9 0%, #d7d7d7 100%);
  filter: progid:dXImageTransform.Microsoft.gradient (startcolorstr = '#e9e9e9', endcolorstr = '#d7d7d7', GradientType = 0);
  outline: 0;
}

div.vertical-tabs ul li.vertical-tab-button a:focus {
  background: #eee;
  outline: 0;
}

div.vertical-tabs ul.vertical-tabs-list li.selected a:hover {
  background: #fff;
}

div.vertical-tabs ul.vertical-tabs-list li.selected a:focus {
  background: #fff;
}

div.vertical-tabs ul li .summary {
  font-size: 10px;
  color: #555555;
  line-height: 110%;
  font-style: italic;
}