/** Fix for overlay misalign cursor when dragged **/
html.js #regionarea-workarea {
  /**overflow-y: visible !important;**/
}

#regionarea-workarea .region-title {
  margin: 2px 2px 6px;
  padding: 5px 20px 5px 0;
}

#regionarea-workarea h3.region-title {
  font-size: 13px;
  cursor: pointer;
}

#regionarea-workarea h4.region-title {
  font-size: 12px;
}

#regionarea-workarea h5.region-title {
  font-size: 11px;
}

#regionarea-workarea .drag-area-source,
#regionarea-workarea .drag-block-source, 
#regionarea-workarea .drag-region-source {
  padding: 5px 1%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin-bottom: 10px !important;
  width: 100%;
  font-size: 10px;
  float: left;
  cursor: move;
}

#regionarea-workarea .drag-block-source h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

#regionarea-workarea .vertical-tabs .drag-block-source .form-type-textfield input {
  width: 60%;
}

#regionarea-workarea .ui-state-highlight {
  height: 30px;
  float: left;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
}

#regionarea-workarea #target--enabled--area > .ui-state-highlight {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
  
/** Dynamic resizing to emulate 1140 css column sizing **/
#regionarea-workarea .enabled-area .col-1,
#regionarea-workarea .enabled-area .col-2,
#regionarea-workarea .enabled-area .col-3,
#regionarea-workarea .enabled-area .col-4,
#regionarea-workarea .enabled-area .col-5,
#regionarea-workarea .enabled-area .col-6,
#regionarea-workarea .enabled-area .col-7,
#regionarea-workarea .enabled-area .col-8,
#regionarea-workarea .enabled-area .col-9,
#regionarea-workarea .enabled-area .col-10,
#regionarea-workarea .enabled-area .col-11,
#regionarea-workarea .enabled-area .col-12 {
  float: left;
  margin-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#regionarea-workarea .enabled-area .col-1 {
  width: 7.33%;
} 

#regionarea-workarea .enabled-area .col-2 {
  width: 15.66%;
}

#regionarea-workarea .enabled-area .col-3 {
  width: 24%;
}

#regionarea-workarea .enabled-area .col-4 {
  width: 32.33%;
}

#regionarea-workarea .enabled-area .col-5 {
  width: 40.65%;
}

#regionarea-workarea .enabled-area .col-6 {
  width: 49%;
}

#regionarea-workarea .enabled-area .col-7 {
  width: 57.31%;
}

#regionarea-workarea .enabled-area .col-8 {
  width: 65.64%;
}

#regionarea-workarea .enabled-area .col-9 {
  width: 73%;
}

#regionarea-workarea .enabled-area .col-10 {
  width: 82.3%;
}

#regionarea-workarea .enabled-area .col-11 {
  width: 90.63%;
}

#regionarea-workarea .enabled-area .col-12 {
  width: 100%;
  margin: 0;
  float: left;
}

/** Disabled areas **/
.layout-parent.status-close {
  height: 25px;
  overflow: hidden;
}

/** Enabled area **/
#regionarea-workarea .enabled-area {
  margin: 0;
  padding: 0 0 30px;
  float: right;
  width: 78%;
  padding: 0.8%;
}

/** Disabled area **/
#regionarea-workarea .ui-widget-content.disabled-block,
#regionarea-workarea .ui-widget-content.disabled-region,
#regionarea-workarea .ui-widget-content.disabled-area {
  width: 16%;
  padding: 10px;
  margin-right: 1%;
  min-height: 25px;
  float: left;
  clear: left;
  margin-bottom: 20px;
}

#regionarea-workarea .disabled-region .region-button,
#regionarea-workarea .disabled-block .region-button,
#regionarea-workarea .disabled-area .region-button {
  position: absolute !important;
  top: 0;
  right: 0;
}

#regionarea-workarea .disabled-block .empty-special,
#regionarea-workarea .disabled-area .region-configuration,
#regionarea-workarea .disabled-region .empty-special,
#regionarea-workarea .disabled-region .region-configuration,
#regionarea-workarea .disabled-area .empty-special,
#regionarea-workarea .disabled-area .region-configuration {
  display: none;
}

#regionarea-workarea .disabled-area .empty {
  display: none;
}

#regionarea-workarea .disabled-area .ui-state-highlight,
#regionarea-workarea .disabled-block .ui-state-highlight,
#regionarea-workarea .disabled-region .ui-state-highlight {
  width: 99% !important;
}

/** Tabs **/
#regionarea-workarea .region-button {
  position: absolute;
  right: 2px;
  top: 5px;
  z-index: 51;
  cursor: pointer;
}

html.js #regionarea-workarea .region-configuration {
  padding: 10px;
  display: none;
}

html.js #regionarea-workarea .region-configuration .form-item {
  margin: 0;
  padding: 0;
}

html.js #regionarea-workarea .disabled-area .empty-message {
  display: none;
}
html.js #regionarea-workarea .region-title {
  position: relative;
}


/** Drag mode **/
#regionarea-workarea .ui-sortable-helper {
  overflow: hidden !important;
  width: 300px !important;
  height: 38px !important;
  margin-top: 0 !important; /** Overriding JS -- Disabled no perfect solution at this time, overlay and non overlay doesn't behave the same way**/
  /**display: none; **/
}

#regionarea-workarea .layout-parent .region-open-config {
  display: none;
}

#regionarea-workarea #target--enabled--area .region-open-config {
  display: block;
}

#regionarea-workarea #edit-layout-new {
  width: auto;
}

/** jQuery Specific **/
#regionarea-workarea .emptyslot {
  font-size: 10px;
  line-height: 13px;
  padding: 5px;
}

#regionarea-workarea .emptyslot .ui-icon {
  margin-right: 5px;
}

#regionarea-workarea .region-title .ui-icon {
  margin: -2px 2px 2px;
}

#regionarea-workarea .ui-widget-header,
#regionarea-workarea .ui-widget-content,
#regionarea-workarea .ui-state-default, 
#regionarea-workarea .ui-widget-content .ui-state-default, 
#regionarea-workarea .ui-widget-header .ui-state-default {
  background-image: none;
}