/**
  * CSS Styling for all form elements except button (please see the generic.css for 
  * button image styling)
  * If you want to revert to original drupal form styling, comment out all the styling
  * found in this file
  **/

/*********/
/* FORMS */
/*********/
body form {
  margin-bottom: 10px;
}

.form-item {
  margin-bottom: 4px;
  margin-top: 0px;
}

input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 5px 6px;
}


.form-item {
  padding: 3px 0;
  margin: 0 0 10px;
}
.form-wrapper {
  margin-bottom: 10px;
}
.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}

.text-format-wrapper .form-item {
  padding-bottom: 0;
}

.form-item label {
  margin: 0 0 2px 0;
  padding: 0;
}
.form-item label.option {
  text-transform: none;
}

#edit-operation-wrapper,#edit-aid-wrapper {
  margin: 0 10px;
}

input.form-submit {
  margin-right: 8px;
}

.container-inline input.form-submit {
  margin: 0 5px 10px;
}

.container-inline {
  width: 99%;
  padding: 0;
  margin: 10px 0 0;
}

.container-inline a {
  padding: 3px 4px;
}

#user-login-form {
  text-align: left;
}

form.confirmation ul li {
  margin-bottom: 15px;
}

form#system-modules-uninstall {
  background: none;
}

.form-checkboxes,.form-radios,
.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0.25em 0;
}

.form-managed-file {
  margin-bottom: 5px;
}

.form-managed-file input {
  margin-bottom: 10px;
}

/** Autocomplete **/
html.js input.form-autocomplete {
  background-position: 100% 7px;
}

html.js input.throbbing {
  background-position: 100% -16px;
}

#autocomplete li {
  background: transparent;
  color: inherit;
}

#autocomplete li a {
  color: inherit;
}
/** Filefield upload widget **/
.widget-edit .description {
  background-position: 0 50%;
  margin-left: 0 !important;
  padding-left: 7% !important;
  width: 91% !important;
}

.widget-edit .filefield-upload input.form-file {
  margin: 6px 0 0 0;
  vertical-align: top;
}

/** input format **/
fieldset.input-format .description {
  background: none repeat scroll 0 0 transparent !important;
  margin-left: 0 !important;
  padding-left: 1% !important;
  width: 99% !important;
}

fieldset.input-format .description ul.tips li {
  background: url("images/menu-leaf.gif") no-repeat scroll 1px 0.18em
    transparent;
}

input#edit-site-frontpage {
  width: 200px;
}

table#content-field-overview tr.content-add-new .form-item div.description
  {
  padding-left: 19%;
  width: 100%;
  margin-left: 0;
}

form#content-display-overview-form {
  padding: 10px 0;
}

form#content-display-overview-form table#content-display-overview {
  margin-top: 10px;
}

/** SEARCH PAGE SEARCH FORM **/
body.page-search form#search-form .container-inline #edit-keys-wrapper {
  float: left;
  margin: 5px 10px 0 0;
  min-width: 537px;
}

body.page-search form#search-form .container-inline #edit-keys-wrapper input
  {
  width: 100%;
}

.clear-block {
  margin-bottom: 13px;
  clear: both;
}

/** Fix for attachment **/
#upload-attachments .description {
  margin-left: 0;
}

/** Filter form **/
.filter-help {
  padding: 0;
  float: none;
}

.filter-help a {
  padding: 2px 20px 0 0;
  float: right;
  font-size: 0.833em;
}

.filter-wrapper .form-item {
  float: left;
  margin: 0 2% 0 0;
  padding: 0;
  width: 48%;
}

.filter-wrapper .form-item label {
  min-width: 90px;
}

.filter-guidelines {
  font-size: 0.833em;
  line-height: 100%;
  padding: 5px 0 0 !important;
}

.filter-guidelines ul.tips li {
  list-style: none;
}

.filter-wrapper {
  border: medium none;
}

.filter-wrapper .fieldset-wrapper {
  padding: 0;
  border: none;
}

ul.tips {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

/** Report area **/
.form-item-type, .form-item-severity {
  margin: 0.1em !important;
}

.fieldset-description {
  padding: 0 0 10px 0;
}

/** Content type display area **/
#field-display-overview-wrapper {
  margin-bottom: 10px;
}

/** Password field **/
.password-suggestions {
  font-size: 0.917em;
  line-height: 1.2em;
  padding: 10px !important;
}



/********************
  BUTTONS
 ********************/
input.form-submit,
input.form-image_button,
input.form-button {
  font-weight: bold; /** Reset jQuery UI so hover state wont break **/
}

/********************
  FIELDSET
 ********************/
/**
  * CSS Styling for all fieldset elements, if you want to revert to original drupal fieldset styling, 
  * comment out all the styling found in this file
  **/
fieldset {
  clear: both;
  min-height: 33px;
  border: none;
}

fieldset .fieldset-wrapper {
  margin: 0 0 20px;
  padding: 20px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

fieldset legend {
  height: 33px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

fieldset legend .ui-icon {
  margin: 8px 5px 8px 8px;
  float: left;
}

fieldset legend .fieldset-legend {
  background: none !important; /** UI replace this with icon **/
  padding: 0 !important; /** Reset Drupal css **/
  line-height: 33px;
}

html.js fieldset.collapsed {
  margin-bottom: 8px;
}

fieldset legend a:hover,
fieldset legend a:link,
fieldset legend a:active,
fieldset legend a {
  width: 100%;
  display: block;
  outline: 0;
}

fieldset.filter-wrapper {
  padding: 0;
  background: transparent;
}

fieldset.filter-wrapper .fieldset-wrapper {
  background: transparent;
}

fieldset.container-inline {
  width: 100%;
  margin: 10px 0;
}
div.vertical-tabs .vertical-tabs-panes fieldset .fieldset-wrapper span.summary,
.fieldset-legend span.summary {
  position: absolute;
  right: 10px;
  top: 2px;
}

/***************************
  Vertical Tabs
 ***************************/
/**
 * Fix fieldset in vertical tabs
 **/
div.vertical-tabs {
  margin: 20px 0;
  clear: both;
}

div.vertical-tabs fieldset {
  clear: none;
  margin-bottom: 8px;
  border: 0;
  padding: 0;
}

.vertical-tabs .vertical-tabs-panes {
  padding: 20px;
  margin-left: 200px;
}

.vertical-tabs fieldset.vertical-tabs-pane {
  clear: none;
  margin: 0;
  padding-bottom: 10px;
}

.vertical-tabs fieldset.vertical-tabs-pane > .fieldset-wrapper,
.vertical-tabs fieldset.vertical-tabs-pane > legend {
  padding: 0;
  border: none !important;
}

.vertical-tabs fieldset .fieldset-wrapper .fieldset-wrapper {
  margin: 0 0 20px;
  padding: 20px 15px;
} 

.vertical-tabs fieldset:first-child {
  clear: none;
}

div.vertical-tabs ul.vertical-tabs-list {
  border: medium none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
  float: left;
}

div.vertical-tabs ul.vertical-tabs-list li {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 0; /* IE7 */
}

div.vertical-tabs ul li.vertical-tab-button.selected {
  border-right: none;
  border-left: none;
  font-weight: bold;
}

div.vertical-tabs ul li.vertical-tab-button.first {
  border-top: none;
}

div.vertical-tabs ul li.vertical-tab-button.first.selected {
  border-top: none;
}

div.vertical-tabs ul li.vertical-tab-button.first:hover {
  border-top: none;
}

div.vertical-tabs ul li.vertical-tab-button a {
  display: block;
  padding: 10px;
}

div.vertical-tabs ul li.vertical-tab-button a strong {
  font-size: 12px;
}

div.vertical-tabs ul li .summary {
  width: 100%;
  display: block;
  font-size: 10px;
  line-height: 110%;
  font-style: italic;
}

/**
 * Prevent text inputs from overflowing when container is too narrow. "width" is
 * applied to override hardcoded cols or size attributes and used in conjunction
 * with "box-sizing" to prevent box model issues from occurring in most browsers.
*/
.vertical-tabs .form-type-textfield input {
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}