/**
Copyright (c) 2012 Marco Pegoraro, http://movableapp.com/

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


WHERE TO FIND MEDIA TABLE:
https://github.com/thepeg/MediaTable
http://consulenza-web.com/jquery/MediaTable/
http://www.consulenza-web.com/2012/01/mediatable-jquery-plugin/

**/







/* -----[[     S T R U C T U R E     ]]------------ */


/**
 * Structural Style
 */
.mediaTable {
  width:100%;
  border-collapse:collapse;
}

.mediaTableWrapper {
  position: relative;
}

.mediaTableWrapperWithMenu {
  padding-top: 45px;
}

.mediaTableMenuClosed ul {
  display:none;
  padding: 10px 0;
}


.mediaTableMenu ul li input {
  float: left;  
}

.mediaTableMenu ul li label {
  margin-left: 25px;
}
/**
 * Active Media Table Rules
 * theese rules are applied to a table activated by the jQuery plugin.
 */

.activeMediaTable th, .activeMediaTable td {
  display: none;
}

.activeMediaTable th.essential, .activeMediaTable td.essential {
  display: table-cell;
  _display:block; /* IE6 Hack */
}

/* IE7 Hack */
*+html .activeMediaTable th.essential, *+html .activeMediaTable td.essential { display:block }








/* -----[[     B R E A C K      P O I N T S     ]]------------ */

@media screen and (min-width: 768px) {
  
  .activeMediaTable th.optional, .activeMediaTable td.optional {
    display: table-cell;
    _display:block; /* IE6 Hack */
  }
  
  /* IE7 Hack */
  *+html .activeMediaTable th.optional, *+html .activeMediaTable td.optional { display:block }
  
}

@media screen and (min-width: 1024px) {
  
  .activeMediaTable th, .activeMediaTable td {
    display: table-cell;
    _display:block; /* IE6 Hack */
  }
  
  /* IE7 Hack */
  *+html .activeMediaTable th, *+html .activeMediaTable td { display:block }
  
}


/* -----[[     T H E M I N G     ]]------------ */

/**
 * Menu Style
 */

.mediaTableMenu {
  position:absolute;
  top:0;
  right:0;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  overflow:hidden;
  
  z-index: 5;
}

.mediaTableMenu a {
  display: block;
  padding: 5px 10px;
  cursor:pointer;
  
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  
}

.mediaTableMenu ul {
  list-style-position:outside;
  list-style-image: none;
  list-style:none;
  margin:0;
  padding: 10px 0.5em;
}

.mediaTableMenuClosed a {
  border-radius:5px;
}

.mediaTableMenu ul li {
  line-height: 2em;
  list-style-position:outside;
  list-style-image: none;
  list-style:none;
}

.mediaTableMenu ul li label {
  cursor:pointer;
}