/* Smaller screens */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}

/* Mobile */
@media handheld , only screen and (max-width: 767px) {
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }
  body, body .row, body .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol,
  .twelvecol {
    width: 100% !important;
    float: none;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .areawrapper {
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
 
  .item-list .pager li {
    float: left;
  }

  #navigation ul.menu a, #navigation ul.menu a:link, #navigation ul.menu a:visited {
    border-right: none !important;
    border-left: none !important;
  }
  
  /** Vertical tabs in responsive mode **/
  .vertical-tabs ul.vertical-tabs-list {
    float: none !important;
    width: auto !important;
  }
  
  .vertical-tabs fieldset.vertical-tabs-pane {
    padding: 0 !important;
  }
  
  .vertical-tabs .vertical-tabs-panes {
    margin: 0 !important;  
  }

  /** Additional form fix **/
  input.form-submit {
    margin-bottom: 10px;
  }

  input.form-autocomplete, 
  input.form-text, 
  input.form-file, 
  textarea.form-textarea, 
  select.form-select {
    width: 100%;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  /** VTCore and colors **/
  body .vtcore #palette {
    display: block !important;
    margin-top: 15px !important;
  } 
  
  .color-form .form-item {
    padding-left: 0;
  }
  
  body .vtcore #placeholder {
    position: fixed;
    top: 50% !important;
  }
  
  /** VTCore and Region **/
  .vtcore .disabled-block,
  .vtcore .disabled-region,
  .vtcore .disabled-area,
  .vtcore .enabled-area {
    width: 100%;
    padding: 10px;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 20px;
  }
  
  /** Theme preview page **/
  .system-themes-list-enabled .theme-selector .screenshot,
  .system-themes-list-enabled .theme-selector .no-screenshot {
    margin: 0 0 20px 0;
    width: 100%;
  }
  
  .system-themes-list-disabled .theme-selector {
    padding: 20px 0;
    width: 100%;
    height: auto !important;
  }
  
  /** Drupal admin page **/
  div.admin .right,
  div.admin .left {
    width: 100%;
    margin: 0;
  }
  
  #overlay {
    min-width: auto;
  }
}