a#logo {
  float: left;
  margin-right: 5px;
}

.site-title {
  font-size: 1.6em;
  padding-top: 15px;
  text-transform: capitalize;
}

.slogan {
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
}