/**
* Styling for block related CSS
**/
.block-content img {
  float: left;
  margin: 5px 15px 7px 0;
  padding: 1px;
}

h2.block-title {
  margin-bottom: 7px;
}

.block {
	margin-bottom: 20px;
	clear: both;
}

aside .block {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
aside h2.block-title {
  font-weight: normal;
  margin: 0;
  padding: 9px 15px;
  font-size: 1.167em;
  line-height: 150%;
}

aside .block-content {
  font-size: 1em;
  margin-bottom: 10px;
  padding: 15px;
}

/** Theming the menu in sidebar **/
aside .block-menu .block-content {
  padding: 0;
}

aside ul.menu {
  margin: 0;
  padding: 0;
}

aside ul.menu li {
  background: url("images/layout/left.png") no-repeat scroll 10px 8px transparent;
  cursor: pointer;
  list-style: none outside none;
  margin: 1px;
  padding: 5px 30px;
  position: relative;
  font-size: 1.083em;
}

aside ul.menu li:first-child {
  border-top: none;
}
aside ul.menu li ul li:first-child {
	margin-top: 5px;
}
aside ul.menu li ul li {
  background: none repeat scroll 0 0 transparent;
  font-size: 0.833em;
  margin: 0;
  padding: 1px 5px;
  border-top: 1px dotted #eee;
}
/** Search block **/

aside .block-search .block-content {
  padding: 0;
  margin: 3px 0;
}

#block-search-form input.form-text {
  background: #fff url("images/misc/searchback.png") no-repeat right center;
  padding-right: 20%;
  padding-left: 6%;
  font-style: italic;
  text-transform: capitalize;
  width: 70%;
  margin: 0 2%;
  text-indent: 6px;
}
#block-search-form .container-inline,
#block-search-form .wrapper {
  margin: 0;
  padding: 0;
}



/** POLL FIX **/
.poll .percent {
  margin-top: -2.9em !important;
}

/** User Login Block **/
#block-user-login .form-item {
  padding: 0;
}
#block-user-login .item-list {
  width: 100%;
  clear: both;
}
#block-user-login input#edit-openid-identifier {
  width: 83%;
}

#block-user-login input.user-login-username {
  width: 95%;
}

#block-user-login input#edit-openid-identifier {
  margin: 0 6px 5px;
}
#block-user-login .form-item-openid-identifier label {
  margin: 5px 7px 0;
  padding: 0;
}

#block-user-login .form-item-openid-identifier .description {
  background: url("images/icons/help-small.png") no-repeat scroll 5px 4px #FFFFFF;
  border: 1px solid #F1BE32;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 6px 9px;
  padding: 6px 6px 3px 25px;
  width: 79%;
}
#block-user-login input.user-login-password {
  width: 95%;
}
#block-user-login ul.openid-links,
#block-user-login ul.user-login-links {
  margin: 0;
  padding: 0;
}
#block-user-login ul.openid-links li, #block-user-login ul.user-login-links li {
  font-size: 0.833em;
  line-height: 120%;
  list-style: none outside none;
  margin: 0;
  padding: 5px 4px 3px 16px;
}

#block-user-login #user-login-form li.openid-link a {
  background: none;
  padding: 0;
}
#block-user-login ul.openid-links li {
  background: transparent url(images/icons/login-bg.png) no-repeat 0 5px;
}

#block-user-login ul.user-login-links li.user-login-register {
  background: url("images/icons/user_icon.png") no-repeat scroll 0 5px transparent;
}

#block-user-login ul.user-login-links li.user-login-password {
  background: url("images/icons/password_icon.png") no-repeat scroll 0 5px transparent;
}

#block-user-login #edit-actions {
  float: right;
  margin: 3px 0;
  overflow: hidden;
  width: 95px;
}

/**
  Comment Block Class
  **/
  
.block  .user-picture {
  float: left;
}
.block  .user-picture img {
  margin: 2px 10px 10px 0;
  width: 45px;
}

.content-block {
  margin-bottom: 15px;
}

.content-comment h6 {
  font-size: 12px;
  margin-bottom: 3px;
}

.content-comment p {
  font-size: 10px;
  line-height: 120%;
}

.content-comment {
  margin-left: 60px;
}

.content-comment.no-picture {
  margin-left: 0;
}
/**
  Feed block
  **/
#navigation #block-node-syndicate {
  margin-top: 4px;
}

.feed-icon img {
  border: none !important;
}

a.feed-icon {
  float: left;
}

#block-node-syndicate p {
  line-height: 185%;
}

#block-system-main {
  margin: 10px 0 20px;
}