/* ---------- color Module Styles ----------- */

body {
  color: #585858; 
}

#page {
  background: #ffffff;
}

h1 a:link, 
h1 a:visited, 
h2 a:link, 
h2 a:visited, 
h3 a:link, 
h3 a:visited, 
h4 a:link, 
h4 a:visited, 
h5 a:link, 
h5 a:visited, 
h6 a:link, 
h6 a:visited,
a,a:link,a:visited {
  color: #2964bf;
}

a:hover,a:active:hover {
  color: #3f7dbb;
}

a:active,a.active {
  color: #34689c;
}