/**
* CSS Styling for all comment related elements including
* comment box, user picture in comment, comment reply form
* comment preview box, comment for forum and other node type
* The comment html marking is capable to do comment bubble wrapping
* with dynamic height and width, you can implement the bubble by
* changing this file css styling.
**/
div#comments {
	display: block;
	height: auto;
	padding: 30px 0 20px;
	clear: both;
}
h2.title.comment-form {
	margin-bottom: 7px;
	padding-bottom: 8px;
	border-bottom: 1px solid #eee;
	font-size: 1.133em;
}

h2.title.comment-form span {
  margin-right: 7px;
}

.comment {
  margin: 10px 0;
}

.comment .links {
	float: right;
}

.comment .links a {
	text-align: right;
}
/** layout **/
.comment-top {
	width: 100%;
	min-height: 40px;
}
.comment-top .user-picture img {
  padding: 0 !important;
}
.comment-block p {
	margin: 0;
}

.comment-block {
	border-top: 1px solid #eee;
	margin-bottom: 8px;
	padding: 3px 0;
}
.comment-block:first-child {
	border: none;
}
.indented {
	margin-left: 30px;
}


/** Limit indentation to prevent bubble break **/
.indented .indented .indented .indented .indented {
	margin-left: 0;
}

/** comment reply page **/
body.comment-reply .comment {
	margin: 0 0 15px;
	border: none;
}

body.comment-reply form#comment-form .comment-published {
	border: none;
	margin: 15px 0;
}


.comment-bubble .bubble {
  background: url("images/layout/bubble.png") no-repeat scroll left top transparent;
  display: block;
  float: left;
  height: 35px;
  margin-left: 27px;
  margin-top: -55px;
  width: 34px;
}

/** Comment bubble **/
.comment-bubble {
  background: none repeat scroll 0 0 #FFFFF6;
  border: 1px solid #FFD4AA;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 15px 0;
  padding: 20px;
}
.comment .comment-bubble .links {
	float: none;
	text-align: right;
}

.comment-bubble .field-name-comment-body {
	padding: 0 0 10px 0;
}

.page-forum .region-content {
	clear: both;
}

form#comment-form {
  margin: 10px 0 30px;
}
/*********************************************************************************************
   Integration with fivestar
 *********************************************************************************************/
 
.comment-form .fivestar-widget {
	clear: none;
	width: 66%;
}