/******************************
  Fivestar module
  ****************************/
.fivestar-widget div.description {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding-bottom: 13px;
  width: 100%;
}

.fivestar-static-form-item div.description {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  padding-top: 8px;
}
/*********************************
  TINY MCE
 *********************************/
.defaultSkin iframe #tinymce {
  background: none;
}

body#tinymce {
  background: none !important;
}

table.mceListBox {
  width: auto !important;
  margin: 0 !important;
}

table.mceListBox td {
  padding: 0 !important;
}

/**********************************
   VIEWS
 **********************************/
 .views-displays .secondary .action-list li {
  margin-bottom: -2px;
}

.views-admin fieldset fieldset.container-inline > .fieldset-wrapper {
  padding-bottom: 15px !important; 
}

#views-ui-preview-form .form-type-textfield.form-item-view-args {
  margin-top: 2px; 
}

.views-display-top .ctools-button-processed,
.views-displays .secondary a:hover, 
.views-displays .secondary .active a {
  background-color: #eee;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
}

.views-displays .secondary a {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
}

.ctools-button {
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 0 18px 0 2px;
  background-color: #fff;
}

.views-ui-display-tab-bucket .even,
.views-ui-display-tab-bucket,
.ctools-button {
  /**background-color: transparent;**/
}

.filterable-option .form-item {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.views-ui-dialog .views-override {
  margin: 0;
}

.views-ui-dialog .form-buttons {
  background: transparent;
  min-height: 50px;
}

.ui-widget-content {
  /**border-top: none;**/
}

.ctools-button li {
  list-style-type: none;
}

.views-ui-display-tab-bucket {
  padding: 5px 0;
}

.views-displays .secondary .active a {
  color: #333;
}

.ctools-dropbutton-processed li input.form-submit:active
.ctools-dropbutton-processed li input.form-submit:hover,
.ctools-dropbutton-processed li input.form-submit {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  color: #2964BF;
  font: inherit !important;
  padding: 0;
  text-align: left;
  text-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  filter: none;
  border: none;
  cursor: pointer;
  text-shadow: none;
}

ul.action-list li {
  float: none;
}

#edit-options-exception.collapsible,
#edit-options-default-action {
  float: none;
  width: 100%; 
}

#edit-options-no-argument {
  margin-top: 20px;
}

.dependent-options {
  margin-left: 0; 
}

.form-item-options-validate-options-node-nid-type {
  margin-top: 10px;
}

#edit-options-argument-present {
  margin-top: 10px;
}

.views-displays .secondary .action-list input.form-submit {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/**********************************
   TOKENS
 **********************************/
table.token-tree {
  margin: 10px 0;
}

table.token-tree caption {
  color: #333333;
  font-size: 1.133em;
  margin-bottom: 10px;
}

.token-tree td, .token-tree th {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.treeTable tr td .expander {
  margin-left: -4px !important;
}

/*******************************
  SCHEDULER
 *******************************/

div.vertical-tabs .vertical-tabs-panes fieldset fieldset {
  border: none;
  margin: 0 0 5px;
  padding: 0;
}

/*******************************
   RULES
 *******************************/
#edit-parameter-component--2,
#edit-parameter-date--2,
#edit-parameter-component,
#edit-parameter-data,
#rules-filter-form,
#rules-scheduler-form {
  margin-top: 20px;
}

#edit-parameter-identifier-settings-help-token h3 {
  margin: 15px 0 10px;
  font-size: 1.133em;
}

.rules-elements-table .tabledrag-toggle-weight-wrapper {
  position: relative;
}

/*******************************
   Taxonomy Term Tree
 *******************************/
 
ul.term-reference-tree-level li {
  list-style-image: none;
}

/*******************************
  Features
 *******************************/
#features-admin-components .info {
  background: none;
}

a.admin-update, a.features-storage, span.features-storage, span.features-component-list span {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
}

#features-admin-components div.button {
  margin-top: 20px;
}

/*****************************
  CKEDITOR
 *****************************/
.cke_editor body { 
 overflow: auto;
}

.block-content #security-filters img {
  float: none;
  margin: 0;
  padding: 0;
}

#security-filters .fieldset-legend a {
  display: inline;
}

.text-format-config {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.5em;
}

/*******************************
  UC Product Power Tools
 ******************************/
#uc-product-power-tools-admin-settings ul {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.5em;
}

/******************************
  Taxonomy Manager 
 *****************************/
#taxonomy-manager-form #edit-jump {
  margin-bottom: 20px;
}

#taxonomy-manager-form img {
  float: none;
  margin: 0;
  padding: 0;  
}

/****************************
  File module
 ***************************/
.file-widget .form-item {
  clear: both;
}

/***************************
  Ubercart uc_order
 **************************/
.order-pane {
  line-height: inherit;
}

.order-edit-table {
  margin-top: 20px;
  width: auto;
}

.line-item-table td {
  padding: 7px 10px;
}

.order-pane.abs-left .form-submit {
  margin: 20px 0.5em 0.5em 0;
}

.order-pane.abs-left {
  padding: 20px 0 40px;
}

.order-pane {
  margin: 0 20px 0 0;
  padding: 20px;
}