/**
  * CSS Styling for forum pages which includes the 
	* forum topic overview page
	* for forum comments, see comment.css
	**/

#forum .description {
  font-size: 0.9em;
  margin: 0;
	background: none;
	padding: 0 3% 0 0 ;
	width: 95%;
	cursor: pointer;
}

#forum tr td.container,
#forum tr td.forum {
  padding: 10px 0  10px 55px; /* LTR */
  background-position: 12px center; /* LTR */
  background-image: url(images/forum/forum-default.png);
  background-repeat: no-repeat;
}

#forum tr.new-topics td.forum {
  background-image: url(images/forum/forum-new.png);
}