/**
  * CSS for generic styling that can be used in many element
	**/


/******************/
/* HELPER CLASSES */
/******************/
.hide {
	display: none;
	visibility: hidden;
}

.hidefix {
	height: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.nofloat {
  float: none !important;
}

.half {
	width: 49%;
}

.forty {
	width: 39.5%;
}

.quarter {
	width: 30%;
	margin: 0 1% 0 2%;
}

.seventy {
	width: 70%;
}

.sixty {
	width: 60%;
}

.bold {
	font-weight: bold;
}

.displayblock {
	display: block;
}

.crampedtext {
	line-height: 120%;
}

.crampedtext p {
	line-height: 120%;
	margin: 2px 0;
}

.fullwidth {
	width: 100% !important;
}

.fullHeightWidth {
	width: 100%;
	height: 100%;
}

.noborder {
	border: none !important;
}

.nobackground {
	background: none;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.ableft {
	left: 0;
}

.abright {
	right: 0;
}

.abtop {
	top: 0;
}

.abbottom {
	bottom: 0;
}

.round {
	border: 1px solid #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.center {
  float: none;
  margin: 0 auto;
}