.node-info .user-picture {
	text-align: center;
}

.node-info .links {
  text-align: center;
}

#tabs-toggle {
	bottom: 5px !important;
}

html.js fieldset.collapsible legend {
  margin-left: -18px;
}

.form-item label.option {
	width: auto !important;
	padding-right: 0px !important;
}

.search-results {
	margin-top: 25px;
}

form.search-form .fieldset-wrapper {
  overflow: hidden;
}

.search-advanced .action {
  clear: both;
  zoom: 1;
}

.item-list .pager li {
  display: inline !important;
}
