#navigation .block-menu {
  padding: 0;
}
#navigation .block-title {
  display: none;
}

#navigation ul.menu a, #navigation ul.menu a:link, #navigation ul.menu a:visited {
  font-size: 1.033em;
  font-weight: bold;
  padding: 0 15px;
}

#navigation ul.menu a:hover {
  text-decoration: none;
}

#navigation ul.menu li.expanded.active-trail:hover {
  background: none;
}

#navigation ul.menu {
  float: left;
  margin: 0;
  z-index: 90;
  padding: 0;
  background: none;
}

#navigation ul.menu li {
  float: left;
  margin: 0;
  min-height: 25px;
  z-index: 90;
  position: relative;
  list-style: none;
}

#navigation ul.menu li.first a {
  border-left: none;
}
#navigation ul.menu li.last a {
  border-right: none;
}

#navigation ul.menu li a {
  line-height: 43px;
  text-transform: capitalize;
  display: block;
}

#navigation ul.menu li.expanded ul li.expanded ul li.expanded ul li.expanded ul,
#navigation ul.menuli.expanded ul li.expanded ul li.expanded ul,
#navigation ul.menu li.expanded ul li.expanded ul,#navigation li.expanded ul
  {
  /**display: none;**/
  width: 180px;
}

#navigation ul.menu li.expanded:hover ul:hover li.expanded:hover ul:hover li.expanded:hover ul:hover li.expanded:hover ul:hover,
#navigation ul.menu li.expanded:hover ul:hover li.expanded:hover ul:hover li.expanded:hover ul:hover,
#navigation ul.menu li.expanded:hover ul:hover li.expanded:hover ul:hover,
#navigation ul.menu li.expanded:hover ul:hover
  {
  width: 180px;
}

#navigation li {
  list-style: none;
  background: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

/************************************/
/* PRIMARY MENU WITH DROPDOWNS      */
/* - used with menu_tree theming of */
/* $primary_links in page.tpl.php   */
/************************************/

#navigation .row {
  overflow: visible;
}

#navigation ul.menu li ul {
  left: -999em;
  /**left: 0;**/
  position: absolute;
  z-index: 92;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  padding: 0;
}

#navigation ul.menu li:hover ul {
  display: block;
  left: auto;
  width: 180px;
  border-top: none;
}

#navigation ul.menu li ul li ul li,#navigation ul.menu li ul li {
  float: left;
  margin: 0;
  width: 180px;
  min-width: 180px;
}

#navigation ul.menu ul li.last {
  border-bottom: none;
}

#navigation ul.menu ul li a {
  border: none;
  line-height: 150%;
}

#navigation ul.menu ul li a.active {
  background: none;
  border: none;
}

#navigation ul.menu li ul li a, 
#navigation ul.menu li ul li a:link, 
#navigation ul.menu li ul li a:visited,
#navigation ul.menu li ul li a:hover {
  border: medium none;
  display: block;
  font-size: 12px;
  line-height: 140%;
  margin: 0 1px;
  min-height: 25px;
  min-width: 160px;
  padding: 11px 9px 6px!important;
  text-transform: capitalize;
  width: 160px !important;
}

#navigation ul.menu li ul li a:hover {
  display: block;
}

#navigation ul.menu li ul li ul.menu {
  left: -999em;
  /**left: 182px;**/
}

#navigation ul.menu li ul li:hover ul.menu,
#navigation ul.menu li ul li.hover ul.menu {
  display: block;
  left: 180px;
  top: 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
}
