/**
* CSS Styling for node related element
**/
h1.main-title {
	border-bottom: 1px solid #eee;
	line-height: 170%;
}

.node {
	margin: 0 0 30px;
	clear: both;
}

#content-content .node ul.links li,
#content-content .node ul.inline li,
#content-content .node .links a {
	margin: 15px 0;
	padding: 0 14px 0 10px;
}

.node-unpublished {
  padding: 20px;
}

.terms ul.taxonomy li {
	background: transparent;
	margin: 10px 0 5px;
	padding: 0;
}

.terms ul.taxonomy ul.vocab-list,#content-content .terms ul.taxonomy li.vocab-term
	{
	background: transparent;
	display: inline;
	padding: 0 0 0 2px;
}

/** Node Area **/
.node-created-wrapper {
	margin: 8px 0;
}

.node-left-info {
  padding: 14px 0 0;
  width: 80px;
}

.node-calendar {
	padding: 15px 0; 
	margin-bottom : 15px;
	margin-bottom: 15px;
}

.node-calendar .date {
  font-size: 2.5em;
  font-weight: bold;
  margin: 11px 0 0;
  text-align: center;
  width: 100%;
}

.node-calendar .month {
	font-size: 1.25em;
	font-weight: bold;
	margin: 5px 0;
	text-align: center;
	width: 100%;
}

.node-info {
	font-size: 0.833em;
	line-height: 110%;
  margin-bottom: 30px;
}

.node-info a, 
.node-info p {
  display: block;
  line-height: 120%;
  margin: 0 5px 3px;
  padding: 5px 0 8px;
  text-align: center;
  font-size: 11px;
}

.node-info .node-links {
	margin: 0 2px 3px;
}

.node-info .user-picture {
  clear: both;
  float: none !important;
  margin: 15px auto 0;
}

.node-info .user-picture img {
	float: none !important;
	margin: 0 !important;
}

.node-right-info {
	padding: 10px 0 0 100px;
}

.node-right-info #comments {
	margin-top: 20px;
}

/** CONTEXTUAL LINKS **/
.contextual-links-region-active {
  outline: none;
  -moz-border-radius: 5px;
  webkit-border-radius: 5px;
  border-radius: 5px;
}

/** NEW VERSION **/
.node-created {
  display: block;
  font-size: 0.917em;
  padding: 4px 0 13px;
}

.node img {
  border: 1px solid #D6D6D6;
  float: left;
  margin: 5px 15px 7px 0;
  padding: 1px;
}

.node p {
  margin-bottom: 10px;
  padding: 10px 0;
}
.node-links {
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  margin: 10px 0 10px;
}

.node-links .links li {
  padding: 0;
}
.node-links .links a {
  font-weight: bold;
  color: #585858;
  font-size: 0.833em;
  margin: 0 8px 0 0;
  padding: 3px 0;
  font-style: italic;
}

.node-links .links a:hover {
  color: #222;
}

.node-links .links li.comment_forbidden a {
  padding-right: 4px;
  text-transform: capitalize;
  margin: 0 5px;
}
.node-links .links li.node-readmore {
  float: right;
  margin-left: 20px;
}

.node-links .links li.node-readmore a {
  border: 1px solid #939394;
  color: #fffffe;
  padding: 2px 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #39393B;
  background: -moz-linear-gradient(top, #626265 0%, #39393B 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #626265), color-stop(100%, #39393B) );
  background: -webkit-linear-gradient(top, #626265 0%, #39393B 100%);
  background: -o-linear-gradient(top, #626265 0%, #39393B 100%);
  background: -ms-linear-gradient(top, #626265 0%, #39393B 100%);
  background: linear-gradient(top, #626265 0%, #39393B 100%);
  filter: progid : DXImageTransform.Microsoft.gradient (startColorstr = '#626265', endColorstr = '#39393B', GradientType = 0);  
}

.node-links .links li.node-readmore a:hover {
  background: #2a2a34; /* Old browsers */
  background: -moz-linear-gradient(top,  #2a2a34 0%, #47474f 79%, #4b4b53 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a34), color-stop(79%,#47474f), color-stop(100%,#4b4b53)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2a2a34 0%,#47474f 79%,#4b4b53 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2a2a34 0%,#47474f 79%,#4b4b53 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2a2a34 0%,#47474f 79%,#4b4b53 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2a2a34 0%,#47474f 79%,#4b4b53 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a34', endColorstr='#4b4b53',GradientType=0 ); /* IE6-9 */
}

.node .not-teaser img {
  max-width: 70%;
}

.node .field-type-taxonomy-term-reference .field-item {
  display: inline;
  margin-right: 10px;
}