.poll .vote-form {
	text-align: left;
}

.poll .vote-form .choices {
	margin: 10px 0;
}

.poll .vote-form {
	margin-bottom: 25px;
}

.poll .bar {
	width: 99%;
	height: 25px;
	margin: 10px 0;
  background: #eee;
  border: 1px solid #ccc;
}

.node .poll {
  margin: 2em 0;
}
.node .poll #edit-choice {
  margin: 0 0 1.5em;
}

.poll .percent {
  font-size: 0.857em;
  font-style: italic;
  margin-bottom: 3em;
  margin-top: -3.2em;
  margin-right: 15px;
  float: right;
  text-align: right;
}
.poll .text {
  clear: right;
  margin-right: 2.25em;
}
.poll .total {
  font-size: 0.929em;
  font-style: italic;
  text-align: right; /* LTR */
  clear: both;
}
.node .poll {
  margin: 1.8em 0 0;
}
.node .poll .text {
  font-size: 0.917em;
  font-weight: bold;
  margin-right: 6.75em;
  text-transform: capitalize;
}
.node .poll #edit-choice {
  margin: 0 0 1.2em;
}
.poll .bar .foreground {
  background: transparent url(images/misc/pollback.png) repeat-x top left;
  height: 25px;
}