/** overrriding the default search.css **/
.search-advanced .action {
	float: none;
	clear: none;
}

.body.page-search #search-form #edit-basic .vtbutton {
	float: right;
	margin: 10px 0;
}

form.search-form {
	margin-bottom: 25px;
}

.search-result {
	border-top: 1px solid #eee;
	margin-bottom: 10px;
  padding-top: 10px;
}

.search-result:first-child {
	border-top: none;
}

.search-result a.search-title {
	font-size: 1.2em;
}

body.page-search #search-form #edit-basic .vtbutton {
	float: right;
	margin: 10px 0;
}