/**
 * Generic elements
 */
 
body {
  font-size: 14px;
  word-wrap: break-word;
  font-family: Helvetica Neue, Arial, Helvetica;
  line-height: 145%;
}
 
#block-system-main p {
  margin-bottom: 15px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
  padding: 0 0 10px;
  text-transform: capitalize;
  line-height: 130%;
}

h1 {
  font-size: 170%;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 160%;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

quote,code {
  margin: .5em 0;
}

code,pre,kbd {
  font-size: 115%;
}


a:link,a:visited {
  text-decoration: none;
}

hr {
  margin: 10px 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

ul {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.5em; 
}

/* Default to menu leaf bullet for unordered list items. "ul" used here so it can cascade to list items and "li.leaf" to override the system leaf image. */
ul,
ul li.leaf {
  list-style-image: url(images/icons/menu-leaf.png);
}

/* This is used to cancel the list style image when an ordered list is embedded in an unordered list. */
ol {
  list-style-image: none;
}

ul.menu,
.item-list ul {
  margin: 0.35em 0 0 -0.5em; /* LTR */
}

ol li,ul li,ul.menu li,.item-list ul li,li.leaf {
  /**margin: 0.15em 0 0.15em .5em; **/ /* Experimental: use system margin */
  padding-bottom: .1em;
}

ul li.expanded {
  list-style-image: url(images/icons/menu-expanded.png);
}

ul li.collapsed {
  list-style-image: url(images/icons/menu-collapsed.png); /* LTR */
}

ul li.leaf a,ul li.expanded a,ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
  line-height: 33px;
}

ul.current-filters,
ul.current-filters li {
  list-style: none;
}
ul.current-filters {
  margin: 0.35em 0 0;
}

ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}

ol.task-list li {
  padding: 0.5em 1em 0.5em 2em; /* LTR */
}

ol.task-list li.active {
  background: transparent url(images/icons/task-list.png) no-repeat 3px
    50%; /* LTR */
}

ol.task-list li.done {
  color: #393;
  background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px
    50%; /* LTR */
}

ol.task-list li.active {
  margin-right: 1em; /* LTR */
}

fieldset ul.clearfix li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em; /* LTR */
}

dl dt {
  
}

dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}

img,a img {
  border: none;
}

/**
 * Layout
 */
.row {
  max-width: 100% !important; /** overriding 1140.css, Fluid mode **/
}

.row .areawrapper {
  padding: 20px 2%;
  width: 96% !important; /** overriding 1140.css **/
}

#header {
  padding: 0 0 20px;
  background: #eee;
  border-bottom: 1px solid #ccc;
}

#breadcrumb {
  padding: 10px 0 10px 30px !important;
  background: url(images/icons/home.png) no-repeat 0px 6px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

#topheader .block {
  margin-bottom: 0;
}

#navigation .areawrapper{
  padding: 0 2%;
}

#navigation .block {
  margin-bottom: 0;
  padding: 3px 0 0;
}

#slider .region-slider .block {
  margin-bottom: 0;
}

#main-content {
  min-height: 700px;
}

#footer .areawrapper {
  padding-top: 30px;
}

#fullfooter-wrapper {
  padding-bottom: 5px;
  font-size: 12px;
}


/** LOGO **/
img.logo {
  margin-top: 4px;
}

/** BOOK NAVIGATION FIX **/
.book-navigation .menu {
  border-top: 1px solid #EEEEEE;
  padding: 1em 0 1em 3em;
}

.book-navigation .page-links {
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
}

/** BLOCKQUOTE **/
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}

blockquote p {
  display: inline;
}

/** Action links **/
ul.action-links {
  margin: 10px 0;
}