table .form-item div.description {
  margin-left: 0;
  margin-top: 4px;
  width: auto;
}

.permission-warning {
  color: darkRed;
}

.placeholder {
  color: green;
}

ul.admin-list li {
  position: relative;
  padding-left: 30px;
  padding-top: 9px;
  border-top: 1px solid #e7e7e7;
  margin-left: 0;
  margin-bottom: 10px;
  background: url(images/list-item.png) no-repeat 0 11px;
  list-style-type: none !important;
  list-style-image: none !important;
}

.admin-panel .item-list ul, ul.admin-list {
  background: none repeat scroll 0 0 transparent;
  list-style-image: none outside none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.admin-panel .item-list ul,
ul.admin-list.compact {
  margin: 8px 0;
}
.admin-panel .item-list li,
ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}
ul.admin-list li:last-child {
  border-bottom: none;
}
ul.admin-list li a {
  margin-left: -30px;
  padding: 0px 0 4px 30px;
  min-height: 0;
  font-size: 1.167em;
}
ul.admin-list.compact li a {
  margin-left: 0;
  padding: 0;
}
ul.admin-list li div.description a {
  margin-left: 0px;
  padding: 0px;
  min-height: inherit;
}

ul.admin-list li div.description {
  font-size: 0.917em;
}
div.submitted {
  color: #898989;
}
/**
 * System.
 */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel,
div.admin-panel .body {
  padding: 0;
  clear: left;
}
div.admin-panel {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #E7E7E7;
  margin: 0 0 20px;
  padding: 9px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
div.admin-panel h3 {
  font-size: 0.923em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-bottom: 9px;
}

/* admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}
.theme-selector h3 {
  font-weight: normal;
}
.theme-default h3 {
  font-weight: bold;
}
.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

.theme-selector .operations li {
  list-style: none outside none;
}

ul.operations,
.theme-selector .operations li {
  list-style-image: none;
  background: none;
}

#system-modules .fieldset-wrapper {
  padding: 0;
  border: none;
}

#system-modules table {
  margin: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#system-modules table label strong {
  font-size: 11px;
}
/**
 * Generic elements.
 */

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #CCCCCC;
}
legend {
  font-weight: bold;
}

dl {
  margin: 0 0 20px;
}
dl dd,
dl dl {
  margin-left: 20px;
  margin-bottom: 10px;
}
blockquote {
  margin: 1em 40px;
}
address {
  font-style: italic;
}
u,
ins {
  text-decoration: underline;
}
s,
strike,
del {
  text-decoration: line-through;
}
big {
  font-size: larger;
}
small {
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
nobr {
  white-space: nowrap;
}
abbr,
acronym {
  border-bottom: dotted 1px;
}
ul,
.item-list ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em;
}
.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image:url(images/menu-collapsed.png);
  list-style-type:disc;
}
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image:url(images/menu-expanded.png);
  list-style-type:circle;
}
quote,
code {
  margin: .5em 0;
}
code,
pre,
kbd {
  font-size: 1.231em;
}
pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

/**
 * Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%;
  margin-left: -5.25em;
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px;
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}

/**
 * Help.
 */
#help {
  font-size: 0.923em;
  margin-top: 1em;
}
#help p {
  margin: 0 0 10px;
}
#help div.more-help-link {
  text-align: right;
}


/**
 * Console.
 */
#console {
  margin: 9px 0 10px;
}

ul.links li,
ul.inline li {
  padding-right: 1em;
}
ul.inline li {
  display: inline;
}

ul.admin-list li {
  position: relative;
  padding-left: 30px;
  padding-top: 9px;
  border-top: 1px solid #eee;
  margin-left: 0;
  margin-bottom: 10px;
  background: url(images/list-item.png) no-repeat 0 11px;
  list-style-type: none;
  list-style-image: none;
}

ul.admin-list li:first-child {
  border-top: none;
}

.admin-panel .item-list ul,
ul.admin-list {
  margin: 0;
  padding: 0;
}
.admin-panel .item-list ul,
ul.admin-list.compact {
  margin: 8px 0;
}
.admin-panel .item-list li,
ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}
ul.admin-list li:last-child {
  border-bottom: none;
}
ul.admin-list li a {
  margin-left: -30px;
  padding: 0px 0 4px 30px;
  min-height: 0;
}
ul.admin-list.compact li a {
  margin-left: 0;
  padding: 0;
}
ul.admin-list li div.description a {
  margin-left: 0px;
  padding: 0px;
  min-height: inherit;
}
div.submitted {
  color: #898989;
}

/**
 * Tables.
 */
 
/** System status report**/
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
  border-bottom: 1px solid #C9F3C9;
}
table.system-status-report tr.info {
  color: #040f37;
  background: #D4FFFF;
  border-bottom: 1px solid #A1F6F6;
}
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
  border-bottom: 1px solid #FFD4AA;
}
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
  border-bottom: 1px solid #FFD4D4;
}

table.system-status-report tr.ok td.status-icon div {
  background-image: url(images/icons/message-16-ok.png);
}

table.system-status-report tr.info td.status-icon div {
  background-image: url(images/icons/message-16-info.png);
}

/**
 * Block area
 */
table .region-title {
  font-weight: bold;
}

table .region-populated {
  display: none;
}

/* Filter */
.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}
.filter-wrapper .fieldset-wrapper {
  padding: 0 6px;
}
.filter-wrapper .form-item,
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 2px 0 0 0;
}
ul.tips,
div.description,
.form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}
ul.tips li {
  margin: 0.25em 0 0.25em 1.5em;
}
body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em;
}

/** action links **/
ul.action-links {
  margin: 5px 0 10px;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  float: left;
  width: 100%;
  clear: both;
}

ul.action-links li {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 6px;
  margin: 0 0 0 10px;
  background: #fff;
  list-style-image: none;
  list-style-type: none;
  float: right;
}

ul.action-links li:hover {
  border: 1px solid #0176BC;
}

ul.action-links a {
  padding-left: 15px;
  background: transparent url(images/add.png) no-repeat 0 center;
  line-height: 20px;
}

/** a.button **/
a.button {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 6px;      
}
/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel,
div.admin-panel .body {
  padding: 0;
  clear: left;
}
div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}
div.admin-panel h3 {
  font-size: 0.923em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 9px;
}

/* admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}
.theme-selector h3 {
  font-weight: normal;
}
.theme-default h3 {
  font-weight: bold;
}
.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/* admin/content and admin/people */
dl.multiselect,
dl.multiselect dt,
dl.multiselect dd {
  margin: 0 10px 0 0;
}
dl.multiselect select,
dl.multiselect dd select {
  font-size: 0.923em;
  background: #fff;
  border: 1px solid #ccc;
}

/* Update options. */
div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}
div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}
div.admin-options label,
div.admin-options div.form-item {
  margin-right: 10px;
  float: left;
}
div.admin-options div.form-item {
  padding: 0;
  border: 0;
}


/* Maintenance theming */
body.in-maintenance #sidebar-first {
  float: left;
  width: 200px;
}
body.in-maintenance #content {
  float: right;
  width: 550px;
  padding-right: 20px;
}
body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em;
}
body.in-maintenance #branding h1 {
  width: 770px;
  margin: 0 auto;
  float: none;
}
body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}
body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}
body.in-maintenance .form-submit {
  display: block;
}
body.in-maintenance #logo {
  margin-bottom: 1.5em;
}
ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #adadad;
}
ol.task-list li.active {
  background: transparent url(images/task-item.png) no-repeat 3px 50%; /* LTR */
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #000;
}
ol.task-list li.done {
  color: #393;
  background: transparent url(images/task-check.png) no-repeat 0px 50%; /* LTR */
  color: green;
}


/* Shortcut theming */
div.add-or-remove-shortcuts {
  float: left;
  padding-top: 6px;
  padding-left: 6px;
}

/* Dashboard */
#dashboard .dashboard-region div.block h2 {
  background: #E0E0D8;
}
#dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px;
}
#dashboard div.block div.content {
  padding: 10px 5px 5px 5px;
}
#dashboard div.block div.content ul.menu {
  margin-left: 20px;
}
#dashboard .dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */

#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}
#field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB;
}
#field-display-overview tr.drag {
  background: #FFEE77;
}
#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}
#field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}
#field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

/* Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0;
}
#block-node-recent table,
#block-node-recent tr {
  border: none;
}
#block-node-recent .more-link {
  padding: 0 5px 5px 0;
}

/* Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}
#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}
#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}
.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}
.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59A0D8;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}


/** update status **/
.update.checked {
  padding: 10px 0;
}
.update .info,
.update .version-security,
.update tr.error .version-recommended,
.update tr.warning .version-recommended {
  background: none;
  margin: 0;
  padding: 0;
}

.update .info {
  padding: 0 0 0 3px !important;
}
.update table.version .version-title {
  padding-left: 3px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  width: 20%;
}
.update table.version .version-details {
  width: 60%;
}
.update table.version .version-links {
  width: 20%;
  padding-top: 10px;
}
.update ul.links,
.update ul.links li {
  list-style-type: none;
}

.update tr.even,
.update tr.odd {
  display: block;
  margin: 10px 0;
  padding: 0;
  width: 99.8%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.update tr.warning {
  background: #FFFFDD;
  border: 1px solid #F1BE32;
}

.update tr.warning .includes {
  color: #884400;
}

.update tr.ok {
  background: #DDFFDD;
  border: 1px solid #7ac142;
}

.update tr.ok .includes {
  color: #484656;
}

.update tr.error {
  background: #FFCCCC;
  border: 1px solid #9C3433;
}

.update tr.error .includes {
  color: #8C2E0B;
}

.update tr td {
  border: medium none;
  display: block;
  margin: 0;
  padding: 1%;
  width: 98%;
}

.update tr td .version tr td {
  display: table-cell;
}

.update table.version {
  border: none;
  margin: 0;
}

.update table.version tbody td {
  padding: 0;
}

.update table.version tbody td ul {
  padding: 0 0 5px;
  margin: 0;
}

.versions {
  margin: 6px 0;
}
.warning .versions .version-security {
  border: 2px solid #FFD4AA;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.warning .versions .version-recommended {
  border: 2px solid #FFD4AA;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.error .versions .version-security {
  border: 2px solid #FF7FAA;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.error .versions .version-recommended {
  border: 2px solid #FF7FAA;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.fixed {
  position: fixed;
  top: 0;
}


/** REPORT PAGE **/
table.dblog-event tr th {
  border-right: 2px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 5px 20px 5px 10px !important;
  font-size: 0.917em;
}
table.dblog-event tr.odd th {
  background: #d6e8f4;
}

table.dblog-event tr.even th {
  background: #bddaed;
}

/** UPDATE PAGE **/
table.update {
  background: transparent;
}


/** System theme selector **/
.system-themes-list-disabled .theme-selector {
  padding: 20px 2% 20px 0;
  width: 23%;
  height: auto;
}

.system-themes-list-disabled .theme-selector .screenshot, .system-themes-list-disabled .theme-selector .no-screenshot {
  width: 100%;
}

/** SHORTCUT ITEM **/
div.add-or-remove-shortcuts a:focus span.text,
div.add-or-remove-shortcuts a:hover span.text {
  background-color: #3C3C3C;
  padding: 6px 10px 6px 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius:5px;
  border-radius: 5px;
  margin-left: -18px;
  margin-top: -3px;
}

div.add-or-remove-shortcuts a .placeholder {
  color: #1BC5EF;
}

div.add-or-remove-shortcuts a span.icon {
  margin-top: 3px;
  position: relative;
  z-index: 10;
}

/** Block region demo page **/
.block-region {
  border: 3px dashed #1BC5EF;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  font-weight: bold;
  margin: 4px;
  padding: 10px 15px;
}

/** a.button **/
a.block-demo-backlink {
  border: 1px solid #444;
  background: #333;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #F1BE32 !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 6px;      
}

a.block-demo-backlink:hover {
  background: #222;
}

a#edit-cancel {
  margin-left: 10px;
}

/**
 * Menu Style
 */

.mediaTableMenu {
  background: #fff;
  border:1px solid #aaa;
}

.mediaTableMenu a {
  background: #ddd; 
}

.exposed-filters .filters {
  clear: both;
}

.confirmation ul {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.5em;
}