#overlay {
  max-width: 88%;
  width: 88%;
  margin: 30 auto;
  font-size: 12px;
}

#overlay #overlay-content {
  -moz-border-radius: 8px 0 8px 8px;
  -webkit-border-radius: 8px 0 8px 8px;
  border-radius: 8px 0 8px 8px;
  padding: 20px 10px;
}

#overlay #page {
  max-width: 100%;
}

#overlay .row {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
  
#overlay .areawrapper {
  padding: 20px 0;
  width: 100% !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#overlay-tabs {
  bottom: -2px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
}

#overlay-title-wrapper {
  height: 40px;
}

/******************************
   Admin Menu
 ******************************/
body.admin-menu #overlay {
  margin-top: 40px;
}