/** FIX FOR COLOR MODULE **/
/* Mobile */
@media handheld , only screen and (max-width: 640px) {
  body .vtcore #placeholder {
    left: auto;
    right: 0;
    z-index: 99;
  }
  
  body .vtcore #palette {
    margin-right: 0;
    width: 100%;
  }
}

.vtcore .color-form {
  max-width: 100%;
}
.vtcore .color-form label {
  max-width: 45%;
  min-width: 45%;
}
.vtcore .color-form .form-item-scheme label {
  width: auto !important;
  max-width: auto !important;
  min-width: 80px;
}

.vtcore .color-form .form-item-scheme {
  margin-bottom: 20px;
}
.vtcore #placeholder {
  background: transparent url('images/blacktrans.png') repeat;
  border: 1px solid #000000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  left: 41%;
  right: auto;
  z-index: 99;
}

.vtcore .color-form #palette .form-item {
  float: left;
  font-size: 10px;
  line-height: 120%;
  margin: 0 0 2px;
  min-height: 25px;
  padding: 6px 1%;
  position: relative;
  width: 98%;
}

.vtcore #palette .lock {
  left: 92%;
  position: absolute;
  top: 4px;
}

.vtcore #palette {
  margin-bottom: 15px;
  margin-right: 24px;
  float: left;
  width: 35%;
  position: relative;
}
html.js .vtcore #preview,
.vtcore #preview {
  margin-top: 10px;
  clear: none !important;
  float: none !important;
}

.vtcore #preview .row.areawrapper {
  max-width: 96%;
  min-width: 96%;
}

#palette input {
  width: auto;
}