/**
  * This file will be loaded when other admin theme used
  * We assume that the other admin theme is seven, other admin theme
  * may not work correctly
  */
fieldset#color_scheme_form legend span.fieldset-legend {
  float: none !important;
  position: absolute !important;
  margin: 0 0 1em;
}

fieldset#color_scheme_form {
  margin: 0 0 1em;
  padding: 0;
}

fieldset#color_scheme_form legend {
  float: left;
  clear: left;
  margin-bottom: 21px;
  margin-top: 14px;
}
