/* CSS Resets */
html,body,div,span,object,p,iframe,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
  {
  margin: 0;
  padding: 0
}

html {
  margin: 0 !important;
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object
  {
  display: block
}

a img {
  border: 0
}

figure {
  position: relative
}

figure img {
  width: 100%
}

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
.container {
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.onecol {
  width: 4.85%;
}

.twocol {
  width: 13.45%;
}

.threecol {
  width: 22.05%;
}

.fourcol {
  width: 30.75%;
}

.fivecol {
  width: 39.45%;
}

.sixcol {
  width: 48%;
}

.sevencol {
  width: 56.75%;
}

.eightcol {
  width: 65.4%;
}

.ninecol {
  width: 74.05%;
}

.tencol {
  width: 82.7%;
}

.elevencol {
  width: 91.35%;
}

.twelvecol {
  width: 100%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.lastrow {
  margin-right: 0px;
}

.newrow {
  clear: both;
}

img,object,embed {
  max-width: 100%;
}

img {
  height: auto;
}